.footer {
    background-color: #fdf2e9;
    color: black;
    padding: 1rem;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .socialLinks {
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .socialLinks li {
    display: inline;
    margin: 0 10px;
  }
  
  .socialLinks a {
    color: #fff;
    text-decoration: none;
  }
  
  .socialLinks a:hover {
    text-decoration: underline;
  }
  